# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so*
*.dll
*.dylib
.DS_Store

# Qt-es

.qmake.stash
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
Makefile.*
*-build-*
ui_*
object_*
*.qm
moc_predefs.h

# Binaries

